$red: #ef4b46;
$blue: dodgerblue;
$yellow: rgba(239, 181, 67, 1);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

$disabled-opacity: 0.25;

$white-00: rgb(0, 0, 0);
$white-10: rgb(26, 26, 26);
$white-20: rgb(50, 50, 50);
$white-40: rgb(100, 100, 100);
$white-80: rgb(125, 125, 125);
$white-90: rgb(209, 209, 209);
$white-100: rgb(238, 238, 238);

$primary: #da627d;
$secondary: #4cb4d9;
$tertiary: #ace497;

$font-small: 0.65rem;
$font-normal: 1rem;
$font-big: 1.5rem;
